<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.googlecode.iterm2</string>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.NewITermTabAtFolder</string>
	<key>CFBundleName</key>
	<string>New iTerm Tab at Folder</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LBArgument</key>
	<string>Valid folder/path</string>
	<key>LBAssociatedApplication</key>
	<string>com.googlecode.iterm2</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Valid folder/path</string>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBRequirements</key>
		<string>iTerm</string>
		<key>LBSummary</key>
		<string>Open a new iTerm2 tab and `cd` into the given folder</string>
		<key>LBTwitter</key>
		<string>@eirkeirkeirk</string>
		<key>LBWebsiteURL</key>
		<string>blog.erikphansen.com</string>
	</dict>
	<key>LBRequirements</key>
	<string>iTerm</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
				<string>path</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.scpt</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Enter Directory</string>
</dict>
</plist>
